@import '../../../../../styles/colors.scss';

.document-upload {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $dp-gray-light;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-iframe {
  min-width: 600px;
  height: 500px;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
}

.documents-buttons {
  display: flex;


  justify-content: center;
  margin-right: 10px;
  align-content: center;
  align-items: baseline;

  button {
    margin-right: 10px;
  }

}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: $dp-black-light;
  text-align: center;
}

input[type="file"] {
  background-color: white;
  padding: 12px 16px;
  border-radius: 6px;
  border: 2px solid #e0e0e0;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: $dp-blue-vivid;
  }

  &:focus {
    outline: none;
    border-color: $dp-blue-vivid;
  }

  &::file-selector-button {
    background-color: $dp-blue-vivid;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
}

button {
  background-color: $dp-blue-vivid;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

.uploaded-documents {
  width: 100%;
  margin-top: 2rem;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 1rem;
      padding: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .document-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
      }

      .small-image {
        width: 300px;
        height: 100%;
        object-fit: cover;
        margin-right: 1rem;
        border-radius: 4px;
      }

      span {
        font-size: 1.1rem;
        color: $dp-black-light;
        margin-bottom: 10px;
      }

      button {
        background-color: $dp-blue-dark;
        color: white;
        padding: 6px 12px;
        font-size: 0.9rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #3e4245;
        }
      }
    }
  }
}