@import '../../../styles/colors.scss';

.container {
  margin: 0 auto;
  padding: 20px;
  min-height: calc(64vh - 40px);

  .buttons {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 16px;
      color: $dp-blue-dark;
      text-align: center;
    }

    .button-add-user {
      background-color: $dp-gray-light;
      border: 1px solid $dp-gray-dark;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($dp-gray-light, 10%);
      }
    }
  }

  .card {
    border: 1px solid $dp-gray-dark;
    border-radius: 8px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .table {
      tbody {
        tr {
          td {



            .category-select {
              width: 100%;
              padding: 8px;
              border-radius: 4px;
              border: 1px solid $dp-gray;
              font-size: 14px;
              background-color: $dp-gray-light;
              transition: background-color 0.3s;

              &:focus {
                border-color: $dp-blue-dark;
                background-color: $dp-gray-light;
              }
            }

            .btn-circle {
              border-radius: 50%;
              width: 40px;
              height: 40px;
              padding: 10px;
              background-color: transparent;
              border: 1px solid $dp-blue-dark;
              color: $dp-blue-dark;
              cursor: pointer;
              transition: background-color 0.3s, border-color 0.3s;

              &:hover {
                background-color: $dp-blue;
                border-color: $dp-blue;
              }

              &.btn-lg {
                width: 50px;
                height: 50px;
                margin-left: 5px;
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }

}

h5 {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}