<div class="document-upload">
  <h3>Cadastro de documentos</h3>
  <input
    type="file"
    id="document"
    (change)="onFileSelected($event)"
    accept=".jpg,.jpeg,.png,.pdf"
  />

  <button type="button" (click)="onUpload()" [disabled]="!selectedFile">
    Enviar
  </button>

  <div class="uploaded-documents" *ngIf="documents.length > 0">
    <ul>
      <li *ngFor="let document of documents">
        <div class="document-item">
          <ng-container
            *ngIf="editingDocumentId === document.id; else showName"
          >
            <input
              [(ngModel)]="document.newName"
              class="rename-input"
              [placeholder]="document.name"
            />
          </ng-container>

          <ng-template #showName>
            <span>{{ document.name }}</span>
          </ng-template>

          <div class="documents-buttons">
            <button (click)="downloadDocument(document)" type="button">
              Baixar Documento
            </button>

            <button
              (click)="deleteDocument(customer.id, document.id)"
              type="button"
            >
              Deletar
            </button>

            <button
              *ngIf="editingDocumentId !== document.id"
              (click)="startRenaming(document)"
              type="button"
            >
              Renomear
            </button>

            <button
              *ngIf="editingDocumentId === document.id"
              (click)="saveRenamedDocument(document)"
              type="button"
            >
              Salvar
            </button>
          </div>

          <img [src]="document.viewingDocumentUrl" class="small-image" />

          <div
            *ngIf="document.viewingDocumentUrl && document.extension === 'pdf'"
          >
            <iframe
              [src]="document.viewingDocumentUrl"
              class="pdf-iframe"
            ></iframe>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
