@import '../../styles/colors.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .header-left img {
        width: 100px;
    }

    .header-right {
        display: flex;
    }

    .nav-options {
        background-color: transparent;
        color: black;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        color: $dp-blue-dark;
        text-transform: uppercase;
        font-weight: bold;
    }
}