<header>
  <div class="header-left">
    <img src="assets/DeclaraProIconWhite.png" (click)="goToHome()" />
  </div>
  <div class="header-right">
    <button
      *ngIf="!isLoggedIn"
      class="nav-options"
      id="dashboardBtn"
      (click)="goToLoginCustomer()"
    >
      Login Cliente
    </button>
    <button
      *ngIf="!isLoggedIn"
      class="nav-options"
      id="dashboardBtn"
      (click)="goToLoginAdmin()"
    >
      Login Contador
    </button>
    <button
      *ngIf="isLoggedIn && !isCustomer"
      class="nav-options"
      id="dashboardBtn"
      (click)="goToCustomers()"
    >
      Dashboard
    </button>
    <button
      *ngIf="isLoggedIn && isCustomer"
      class="nav-options"
      id="dashboardBtn"
      (click)="goToHomeClientes()"
    >
      Home Cliente
    </button>

    <button *ngIf="isLoggedIn" class="nav-options" (click)="logout()">
      <span class="material-icons">logout</span>
    </button>
  </div>
</header>
