@import '../../styles/colors.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $dp-blue-dark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .header-left img {
        width: 100px;
        cursor: pointer;
    }

    .header-right {
        display: flex;
    }

    .nav-options {
        background-color: $dp-gray-dark;
        color: black;
        border-radius: 30px;
        margin-left: 10px;
        border: 1px solid $dp-gray-dark;
        padding: 8px 16px;
        cursor: pointer;
        outline: transparent;
        color: white;

    }
}