@import '../../../styles/colors.scss';

.main-container {
    display: flex;
    flex-direction: row-reverse;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 6%, 70px);

    &__input {
        display: flex;
        align-items: center;
        flex-direction: column;

        span {
            font-size: 0.8em;
            font-weight: 700;
            text-transform: uppercase;
            color: $dp-black-light;
            cursor: text;
            transition: all 200ms ease;
        }

        input {
            border-radius: 10px;
            border: 1px solid $dp-gray-dark;
            width: 50vh;
            outline: transparent;
        }
    }

    &__title {
        color: $dp-blue-dark;
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.login__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__logo {
    width: 130px;
    cursor: pointer;
}

.login__button {
    width: 60px;
    height: 60px;
    padding: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login__button svg {
    fill: $dp-blue-vivid;
}

.wallpaper {
    width: 100%;
    background-image: url("/assets/login-customer-image.jpg");
    background-size: cover;
    background-position: center;
    flex: 1;
}