<div class="login-container">
  <h2>Login de Cliente</h2>
  <form (submit)="onSubmit()">
    <div class="input-group">
      <label for="username">Usuário:</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
      />
    </div>

    <div class="input-group">
      <label for="password">Senha:</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <button type="submit">Entrar</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
