@import '../../../styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;

  h2 {
    margin: 0;
    color: white;
    font-size: 30px;
    flex-grow: 1;
    text-align: left;
  }

  input {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
  }

  .edit-button {
    background-color: $dp-blue-vivid;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    height: 30px;

    mat-icon {
      color: white;
      font-size: 16px;
    }

    &:hover {
      background-color: darken($dp-blue-vivid, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}

.customer-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;

  h2 {
    margin-bottom: 20px;
    color: black;
  }

  .customer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $dp-gray;

    label {
      font-weight: bold;
      color: $dp-blue-dark;
    }

    p {
      margin: 0;
      color: $dp-black-light;
    }

    input,
    select {
      border: 1px solid $dp-gray;
      border-radius: 4px;
      padding: 8px 12px;
      width: 70%;
      font-size: 14px;

      &:focus {
        border-color: $dp-blue-vivid;
        outline: none;
      }

      &::placeholder {
        color: $dp-gray-dark;
      }
    }

    select {
      background-color: $dp-gray-light;
    }
  }
}

.credentials-box {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  width: 100%;
  border: 1px solid #ddd;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  button {
    margin-left: 10px;
  }

  h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: $dp-black-light;
  }

  .customer-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    label {
      font-weight: bold;
      color: $dp-black-light;
    }

    p {
      margin: 0;
      color: $dp-black-light;
    }

    input {
      width: 100%;
    }
  }
}

.password-reset-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}