<div class="container">
  <div class="buttons">
    <button (click)="handleAddNewCustomer()" class="button-add-user">
      Adicionar novo cliente
    </button>
  </div>
  <div class="card">
    <app-add-customer-modal
      [visible]="showAddCustomerModal"
      [customerData]="customerData"
      (close)="closeAddCustomerModal()"
      (addCustomer)="addNewCustomer($event)"
    >
    </app-add-customer-modal>
    <app-confirm-data-modal
      *ngIf="showConfirmDataModal"
      [customerData]="customerData"
      (closeModal)="closeConfirmDataModal()"
    ></app-confirm-data-modal>
    <app-confirm-delete-modal
      *ngIf="showConfirmDeleteModal"
      [customerName]="customerToDelete?.name"
      (confirmDeletion)="deleteCustomer(customerToDelete?.id)"
      (closeModal)="closeConfirmDeleteModal()"
    >
    </app-confirm-delete-modal>
    <div class="table-responsive">
      <table class="table no-wrap mb-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
            <th scope="col">Status</th>
            <th scope="col">Gerenciar</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customers$ | async">
          <tr>
            <td>{{ customer.id }}</td>
            <td>
              <h5>{{ customer.name }}</h5>
            </td>
            <td>
              <span class="text-muted">{{ customer.email }}</span>
            </td>
            <td>
              <span class="text-muted">{{ customer.phone }}</span>
            </td>
            <td>
              <select
                class="category-select"
                [(ngModel)]="customer.status"
                (change)="handleStatusChange(customer.id, $event)"
              >
                <option [value]="'Em Análise'">Em Análise</option>
                <option [value]="'Declaração Enviada'">
                  Declaração Enviada
                </option>
                <option [value]="'Concluído'">Concluído</option>
                <option [value]="'Documento Pendente'">
                  Documento Pendente
                </option>
              </select>
            </td>
            <td>
              <button
                (click)="goToCustomerDetails(customer)"
                class="btn-circle btn-lg"
              >
                <span class="material-icons">search</span>
              </button>
              <button
                (click)="openConfirmDeleteModal(customer)"
                class="btn-circle btn-lg"
              >
                <span class="material-icons">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
