<div class="customer-details-container">
  <h2>{{ customer?.name }}</h2>

  <div class="customer-info">
    <label>Email:</label>
    <p>{{ customer?.email }}</p>
  </div>

  <div class="customer-info">
    <label>Phone:</label>
    <p>{{ customer?.phone }}</p>
  </div>

  <div class="customer-info">
    <label>CPF:</label>
    <p>{{ customer?.cpf }}</p>
  </div>

  <div class="customer-info">
    <label>Data de nascimento:</label>
    <p>{{ customer?.birthDate }}</p>
  </div>

  <div class="customer-info">
    <label>Status:</label>
    <p>{{ customer?.status }}</p>
  </div>

  <div class="document-upload">
    <h3>Cadastrar documentos:</h3>
    <app-document-upload [customer]="customer"></app-document-upload>
  </div>
</div>
