@import '../../styles/colors.scss';

.dashboard-container{
    display: flex;
}

.dashboard-image{
    width: 100%;
    max-width: 400px;
}

.tax-status-card {
    padding: 2rem;
    display: flex;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .user-info {
        margin-bottom: 1rem;

        .user-name {
            font-size: 1.8rem;
            color: $dp-black-light;
            margin: 0;
            font-weight: 500;
        }

        .tax-status {
            font-size: 1rem;
            color: black;

            .status {
                padding: 0.3rem 0.6rem;
                border-radius: 4px;
            }
        }
    }

    .status-details {
        font-size: 0.9rem;
        color: $dp-black-light;
        margin-bottom: 1.5rem;

        p {
            margin: 0 0 1.2rem;
            line-height: 1.6;
        }

        &-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        .cta-button {
            background-color: $dp-blue-vivid;
            color: #fff;
            border: none;
            border-radius: 8px;
            padding: 0.6rem 1.2rem;
            cursor: pointer;
            font-size: 1rem;
            text-decoration: none;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $dp-blue-dark;
            }
        }
    }
}